
* * { box-sizing: border-box; }
body {
	background-color: #0a1923;
	height: 100%;
}
// primary color
h2,h3,h4,h5,h5,p {
	font-family: "Muli",avenir,"helvetica neue"
	,helvetica,ubuntu,
	roboto,noto,"segoe ui",arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	color: hsla(0,0%,100%,.9);
}

a {
	text-decoration: none;
	a:hover {
		color: #548;
    	background-color: transparent;
	}
}
.welcome-info {
	p {
		margin-right: auto;
		margin-left: auto;
		font-size: 1.4em;
		text-align: center;
		color: #999;
		font-weight: 200;
	}
}
.element {
	content: "";
	clear: both;
	display: table;
}

.title {
	line-height: 1.25;
	color: #fbc547;
	font-size: 3rem;
	padding: 1em;
    text-align: center;
	@include grid-media($my-desktop-grid) {
		text-align: center;
		padding: 80px
	}
}


hr {
	background-color: #ebb951;
	clear: both;
}
// Using Neat grid from myneat.cscss file
.container {
	@include grid-column(12, $neat-grid);
}

// Custom grid for mobile from myneat.cscss file
.section_1 {
	@include grid-media($my-desktop-grid) {
		@include grid-column(6);
	}
}

@include grid-media($my-desktop-grid) {
	.section_2 {
		@include grid-column(6);
	}
}



.accordion-container{
  position: relative;
  @include grid-media($my-desktop-grid) {
  width: 500px;
}
  height: auto;
  margin: 20px auto;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  position:relative;
  float: right;
  margin-top:4px;
  color: #666;
}
.set > a.active{
  background-color:#3399cc;
  color: #fff;
}
.set > a.active i{
  color: #fff;
}
.content{
  position:relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}
